---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="sektion_body">
    <h1>CHRISTINA WINSLØW</h1>

    <p>In my art, I focus on conveying all the universal facets of life. I challenge conventional materials with my working methods, often blending delicate drawn expressions with paint and spray. Thus, the works exude an atmosphere of dreamy infinity. An aesthetic union and a very special sensuality.</p>

    <img src="/billeder/aboutchristina.png" class="img" />

    <p class="underbilledet">I think a lot about sustainability in connection with my art, including through my choice of materials. I create my art using materials that already exist, and materials I find in nature and places I visit, such as recycling centers. My approach to work is very intuitive; I take many photos and write notes that inspire me and which I use when creating art.</p>

    <h2>Glimpse of Christina Winsløw</h2>
    <div class="youtube">
      <div class="video">
        <iframe width="430" height="240" src="https://www.youtube.com/embed/UWc0ov1E2fU?si=VkHc3B5Qhm0D_ZH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</Layout>
<style>
  h2 {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    text-align: center;
  }

  .sektion_body {
    /*margin: 2rem;*/
    display: grid;
    place-items: center;
    text-align: center;
  }
  .sektion_body img {
    padding-right: 20px;
    padding-left: 20px;
  }

  .youtube {
    align-self: center;
    margin-bottom: 4rem;
  }

  p {
    text-align: left;
    justify-self: center;
    padding-bottom: 32px;
    white-space: pre-line;
    padding-right: 20px;
    padding-left: 20px;
  }

  .underbilledet {
    padding-top: 32px;
  }

  .static {
    position: absolute;
  }

  @media (min-width: 768px) {
    p {
      text-align: left;
      max-width: 950px;
      margin: 0 auto;
      padding-bottom: 32px;
    }

    iframe {
      width: 974px;
      height: 640px;
    }
  }
</style>

<Footer />
