---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="sektion_body">
    <h1>CHRISTINA WINSLØW</h1>

    <p>In my art, I focus on conveying all the universal facets of life. I challenge conventional materials with my working methods, often blending delicate drawn expressions with paint and spray. Thus, the works exude an atmosphere of dreamy infinity. An aesthetic union and a very special sensuality. I think a lot about sustainability in connection with my art, including through my choice of materials. I create my art using materials that already exist, and materials I find in nature and places I visit, such as recycling centers. My approach to work is very intuitive; I take many photos and write notes that inspire me and which I use when creating art.</p>

    <img class="billede" src="/public/billeder/aboutchristina.png" alt="" />

    <h2>Glimpse of Christina Winsløw</h2>
  </div>
  <div class="youtube">
    <div class="video">
      <iframe width="660" height="475" src="https://www.youtube.com/embed/UWc0ov1E2fU?si=VkHc3B5Qhm0D_ZH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <style>
      .billede {
        margin-bottom: 50px;
      }

      h1 {
        padding-top: 6rem;
        text-align: center;
        padding-bottom: 2rem;
      }
      h2 {
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: left;
      }

      .sektion_body {
        margin: 2rem;
        display: grid;
        place-items: center;
        text-align: center;
      }
      .youtube {
        align-self: center;
        margin-bottom: 40px;
      }

      .sektion_body h2 {
        text-align: center; /* Venstrejuster tekst */
      }
      p {
        text-align: left; /* Venstrejuster tekst */
        justify-self: center; /* Centrerer vandret placering */
        padding-bottom: 2rem;
        white-space: pre-line;
        line-height: 1.7rem;
      }

      .static {
        position: absolute;
      }

      @media (min-width: 768px) {
        p {
          text-align: left; /* Venstrejuster tekst */
          max-width: 950px; /* Juster bredden efter behov */
          margin: 0 auto; /* Centrer elementet ved at angive en automatisk margen */
          padding-bottom: 2rem;
        }
      }
    </style>
  </div>
</Layout>
<div>
  <Footer />
</div>
