---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import ProductCard from "../components/ProductCard.astro";
import { getDataEntryById } from "astro:content";

const data = await fetch("https://fxxjknteqkhsjhtimjjc.supabase.co/rest/v1/eksamenscase?", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4eGprbnRlcWtoc2podGltampjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5NDAyODcsImV4cCI6MjAzMTUxNjI4N30.m9y52VCukhWnKC_k4PCgWlz1mVReietqdz4j0V_C9sg",
  },
}).then((response) => response.json());

const first = data.slice(0, 4);
const last = data.slice(4);
---

<Layout title="Something">
  <h1>SHOP</h1>
  <section class="shop first grid">
    {
      first.map((shop, index) => {
        // Tilføj en CSS-klasse til de første seks kort for at vise dem
        const className = index < 6 ? "product-card visible" : "product-card hidden";
        return <ProductCard data={shop} className={className} />;
      })
    }

    <button class="read-more-button">Se mere</button>
  </section>
  <section class="shop last hide grid">
    {
      last.map((shop, index) => {
        // Tilføj en CSS-klasse til de første seks kort for at vise dem
        const className = index < 6 ? "product-card visible" : "product-card hidden";
        return <ProductCard data={shop} className={className} />;
      })
    }
  </section>
</Layout>
<Footer />

<style>
  h1 {
    padding-top: 6rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .read-more-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .read-more-button:hover {
    background-color: #0056b3;
  }

  .hide.grid {
    display: none;
  }
  /* Desktop-styling */
  @media (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr; /* To kolonner på desktop */
    }

    h1 {
      padding-bottom: 4rem;
    }
  }
</style>

<script>
  // Funktion til at vise de skjulte kort
  function showMoreProducts() {
    console.log("showMoreProducts function called");

    // Vis de skjulte kort ved at fjerne "hidden" klassen
    document.querySelector(".last").classList.remove("hide");

    // Skjul "Se mere" knappen, når alle kortene er synlige
    document.querySelector(".read-more-button").style.display = "none";
  }

  // Bind funktionen til knappen, når dokumentet er klar
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector(".read-more-button").addEventListener("click", showMoreProducts);
  });
</script>
