---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Workscomponent1 from "../components/workscomponent1.astro";
import Workscomponent2 from "../components/workscomponent2.astro";
import Workscomponent3 from "../components/workscomponent3.astro";
---

<Layout title="Christina Winsløv">
  <h1>INSTALLATIONS</h1>

  <Workscomponent1
    text="Balance Me, Balance Us"
    describtion="My latest installation, 'Balance Me, Balance Us', delves into the concept of creating external balance to achieve internal harmony. Embracing liquid ink, I return to fundamental techniques, allowing line drawings to expand naturally on their surfaces."
    describtion2="I'm currently captivated by century-old wooden blocks found in my father's house, which have become integral to my spatial installations. These blocks symbolize life's transience and continuous growth, encapsulating the life cycle and our developmental stages. My work is created with careful consideration of sustainable materials and tools, highlighting the importance of giving old things new life. This approach honors the past and fosters a sense of continuity and respect for our environment."
    describtion3="Christina Winsløw works with a diverse array of materials, continually inspired by new forms of expression. Besides her LifeCircle project and Female Body Maps, she engages with collage, mobiles, textile works, installations, wall decorations, and paintings. Through 'Balance Me, Balance Us', I invite viewers to contemplate the delicate interplay between balance and harmony, sustainability, and the cyclical nature of life."
    imageSrc="/billeder/installations/installation1.jpeg"
  />
  <Workscomponent2 text="'My installation displays nature's cycle of decay and renewal. Using recycled materials with historical value not only promotes sustainability but also adds depth as the past is reborn in modern forms.'" />
  <Workscomponent3 img1="/billeder/installations/installation2.jpeg" img2="/billeder/installations/installation3.jpeg" img3="/billeder/installations/installation4.jpeg" img4="/billeder/installations/installation5.jpeg" img5="/billeder/installations/installation6.jpeg" img6="/billeder/installations/installation7.jpeg" />
  <Footer />
</Layout>
