---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Workscomponent1 from "../components/workscomponent1.astro";
import Workscomponent2 from "../components/workscomponent2.astro";
import Workscomponent3 from "../components/workscomponent3.astro";
---

<Layout title="Christina Winsløv">
  <h1>LIFE CIRCLES</h1>

  <Workscomponent1 text="Perfect imperfect circle" describtion="Life Circle is a project I have been working on since 2014. This artwork emerged during a period in my life when I was experiencing a creative block. Without a set plan, I began to create line drawings, drawing lines in circles." describtion2="This process evolved into a form of meditative practice for me, which has now developed into an ongoing project and a deeper connection with myself. Many people have told me that they experience a special peace and meditative state when they look at the circles in the painting. The work resonates in a unique way with viewers, creating a sense of peace and inner tranquility." describtion3="In Christina Winsløv's Graphic Series 'LifeCircles', the perfect meets the imperfect, creating an aesthetic union and a unique sense of sensibility. The series exudes an atmosphere of calm and dreamy infinity, permeating the space and extending to the viewers. Each circle represents a journey, a continuous flow that mirrors the cycles of life. As I continued to work on this project, I found that the repetitive nature of drawing circles became a soothing ritual, allowing me to explore deeper layers of creativity and self-awareness. The intricate patterns and harmonious shapes invite viewers to lose themselves in the artwork, offering a visual escape and a moment of reflection." imageSrc="public/billeder/lifecircles/lifecircles1.jpg" />

  <Workscomponent2 text="“Creating these circles is a connection to myself, a cycle where the art not only makes sense to me but also resonates with others, reflecting the feeling I had during its creation.”" />

  <Workscomponent3 img1="public/billeder/lifecircles/lifecircles2.jpg" img2="public/billeder/lifecircles/lifecircles3.jpg" img3="public/billeder/lifecircles/lifecircles4.jpeg" img4="public/billeder/lifecircles/lifecircles5.jpg" img5="public/billeder/lifecircles/lifecircles6.jpg" img6="public/billeder/lifecircles/lifecircles7.jpg" />
  <Footer />
</Layout>

<style>
  h1 {
    padding-top: 7rem;
    text-align: center;
  }
</style>
