---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Workscomponent1 from "../components/workscomponent1.astro";
import Workscomponent2 from "../components/workscomponent2.astro";
import Workscomponent3 from "../components/workscomponent3.astro";
---

<Layout title="Christina Winsløv">
  <h1>MIXED MEDIA COLLAGE</h1>

  <Workscomponent1
    text="Female Body Map "
    describtion="Female Body Map is a mixed media collage that explores and reflects the shapes of the female body through a creative and sustainable perspective.  This artwork is created using recycled materials found in everyday life—from paper from old magazines to naturally collected elements and textiles from recycled clothing. These various materials are assembled into unique collages that reflect both the beauty and complexity of women. I prioritize materials that already exist, contributing to a deeper narrative about recycling and creative reuse."
    describtion2="In the project 'Female Body Maps', I work on visualizing the many states a woman's body and mind undergo throughout a lifetime. This endeavor aims to map or manifest the powerful, complex, and vulnerable aspects of being a woman. The collages in Female Body Maps are a mixed media project where the materials range from mirrors, embroidery, fabric, paper, and more. Each piece tells a story of transformation, resilience, and identity, highlighting the interplay between the physical and emotional landscapes of womanhood."
    describtion3="By using recycled materials, I aim to challenge traditional notions of beauty and perfection, transforming discarded items into meaningful art. This approach not only emphasizes the physical shapes of women but also delves into their emotional and psychological states. The intricate patterns and textures created with these materials invite viewers to engage with the artwork on multiple levels, sparking conversations about sustainability, identity, and the myriad experiences of women."
    imageSrc="public/billeder/mixedmedia/mixedmedia1.jpeg"
  />

  <Workscomponent2 text="“The map of the amazing female body and the phases it undergoes. When the female body and mind feel weak, I remember what it has endured and achieved. Birth, puberty, giving life, losing life, illness, shock, happiness, trauma, balance, imbalance—a life fully lived.”" />

  <Workscomponent3 img1="billeder/mixedmedia/mixedmedia2.jpeg" img2="/billeder/mixedmedia/mixedmedia3.jpeg" img3="/billeder/mixedmedia/mixedmedia4.jpeg" img4="/billeder/mixedmedia/mixedmedia5.jpeg" img5="/billeder/mixedmedia/mixedmedia6.jpg" img6="/billeder/mixedmedia/mixedmedia7.jpeg" />
  <Footer />
</Layout>

<style>
  h1 {
    padding-top: 7rem;
    text-align: center;
  }
</style>
