---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  button {
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .primary {
    padding: 0.5rem 2rem; /* Tilføj polstring til knappen */
    background-color: transparent; /* Gennemsigtig baggrundsfarve */
    color: black; /* Tekstfarve for knappen */
    border: 1px solid black; /* Ydre streg */
    cursor: pointer; /* Gør cursoren til en pil, når der holdes over knappen */
    transition:
      background-color 0.3s,
      color 0.3s; /* Tilføj en overgang for en smidig ændring af farver */
  }

  .primary:hover {
    background-color: #e7d9d9; /* Baggrundsfarve, når der holdes over */
    color: black; /* Tekstfarve, når der holdes over */
  }

  .all {
    font-size: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-self: center;
  }

  @media (min-width: 768px) {
    .all {
      font-size: 1rem;
      width: fit-content;
    }
  }
</style>
