---
import "../css/style.css";
---

<html>
    

        <h1>CONTACT FOR ANY QUESTIONS?</h1>
        <p>Fill out the form with any questions or inquiries.</p>
   

    <div class="kontaktform">
    <form action="/submit" method="post" data-netlify="true">
        <input type="hidden" name="form-name" value="contact-form">
        <div class="input-group">
            <div class="input-field">
                <label for="first-name">First Name<span class="required">(required)</span>:</label>
                <input type="text" id="first-name" name="first-name" required>
            </div>
            <div class="input-field">
                <label for="last-name">Last Name<span class="required">(required)</span>:</label>
                <input type="text" id="last-name" name="last-name" required>
            </div>
        </div>
        <div class="input-field">
            <label for="email">Email<span class="required">(required)</span>:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-field">
            <label for="message">Message<span class="required">(required)</span>:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</div>

    
</html>


<style>

h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 100px;
    margin-left: 40px;
}

p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: karla;
     margin-left: 40px;
}


h4{
     font-family: karla;
     margin-left: 40px;
}

.kontaktform {
 
    padding: 20px;

    width: 100%;
    max-width: 400px; /* Juster denne værdi efter behov */
    margin: 0 auto;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: karla;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #1111;
  
}

button {
    width: 100%;
    padding: 10px;
    border: none;



    font-size: 16px;
    cursor: pointer;
    font-family: karla;
}

.required {
font-weight: 100;
font-family: karla;

}



</style>
