---
import "../css/style.css";
---

<html>
<h1>CONTACT FOR ANY QUESTIONS?</h1>
<div class="kontaktform">
  <p>Fill out the form with any questions or inquiries.</p>
  <form name="contact" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact-form" />
    <div class="input-group">
      <div class="input-field">
        <label for="first-name">First Name<span class="required"> (required)</span>:</label>
        <input type="text" id="first-name" name="first-name" required />
      </div>
      <div class="input-field">
        <label for="last-name">Last Name<span class="required"> (required)</span>:</label>
        <input type="text" id="last-name" name="last-name" required />
      </div>
    </div>
    <div class="input-field">
      <label for="email">Email<span class="required"> (required)</span>:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="input-field">
      <label for="message">Message<span class="required"> (required)</span>:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
    </div>
    <button type="submit">SUBMIT</button>
  </form>
</div>

  <style>
    body::before {
      content: "";
      position: absolute;
      top: 230px;
      left: -273px;
      width: 100vh;
      height: 97vh;
      background-image: url("/billeder/logofooter.png");
      background-size: cover;
      background-position: center;
      opacity: 0.2;
      z-index: -1;
    }

    h1 {
      text-align: center;
      margin-bottom: 10px;
      margin-top: 150px;
      margin-left: 25px;
      margin-right: 25px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
      font-family: karla;
    }

    h4 {
      font-family: karla;
      text-align: center;
    }

    .kontaktform {
      padding: 20px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .input-field {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      font-family: karla;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #1111;
      margin-bottom: 14px;
    }

    button {
      width: 100%;
      padding: 15px;
      border: 0.5px solid black;
      font-size: 16px;
      cursor: pointer;
      font-family: karla;
      margin-bottom: 30px;
    }

    .required {
      font-weight: 100;
      font-family: karla;
    }
  </style>


</html>
