---
import "../css/style.css";
---

<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contact me</h3>
      <p>Telefon: +45 20 20 20 20</p>
      <p>Email: christina@winslow.com</p>
    </div>
    <div class="footer-section">
      <h3>Help</h3>
      <p>Terms & conditions</p>
      <p>Privacy policy</p>
      <p>Shipping and returns</p>
    </div>
    <div class="footer-section logo-social">
      <div class="logo-footer">
        <img src="/public/billeder/logofooter.png" alt="logo" />
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/christinawinslov/" target="_blank">
          <img src="public/billeder/icons8-instagram-2.svg" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/din-facebook-side" target="_blank">
          <img src="public/billeder/icons8-facebook-3.svg" alt="Facebook" />
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #e7d9d9;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .footer-section {
    flex-basis: 100%;
    text-align: left;
    margin-bottom: 15px;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    justify-content: left;
  }

  .logo-footer {
    text-align: left;
    margin-bottom: 15px;
  }

  .logo-footer img {
    width: 80px;
    height: auto;
  }

  @media (min-width: 768px) {
    .footer-section {
      flex-basis: calc(33.33% - 20px);
      margin-bottom: 0;
    }

    .logo-social {
      flex-basis: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .logo-footer {
      order: 1;
      text-align: right;
    }

    .social-icons {
      order: 2;
      justify-content: right;
    }
  }

  @media (min-width: 1200px) {
    .footer-section {
      flex-basis: calc(33.33% - 20px);
    }

    .logo-social {
      flex-basis: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .logo-footer {
      order: 1;
      text-align: right;
    }

    .social-icons {
      order: 2;
      justify-content: right;
    }
  }

  footer .footer-section h3 {
    color: black;
    margin-bottom: 15px;
  }

  footer .social-icons img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  p {
    font-size: 11px;
    margin-bottom: 15px;
  }
</style>
