<footer class="footer" id="footer">
    <div class="left-side">
        <div class="contact">
            <h4>Contact</h4>
            <ul>
                <li>
                    <a href="mailto:christina@mail.dk">christina@mail.dk</a>
                </li>
                <li>
                    <a href="tel:20202020">+45 20 20 20 20</a>
                </li>
            </ul>
        </div>
        <div class="help">
            <h4>Help</h4>
            <ul>
                <li>
                    <a href="#">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="socials">
            <ul>
                <li>
                    <a href="#"><a href="https://www.facebook.com/din-facebook-side" target="_blank">
          <img src="public/billeder/icons8-facebook-3.svg" alt="Facebook" />
        </a></a>
                </li>
                <li>
                    <a href="#"> <a href="https://www.instagram.com/christinawinslov/" target="_blank">
          <img src="public/billeder/icons8-instagram-2.svg" alt="Instagram" />
        </a></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-side">
        <img src="src/imgs/hero/hero_bg.jpg" class="logo">
    </div>
</footer>

<style>
    footer
    {
        position: relative;
        height: 350px;
        background-color: #E7D9D9;
        padding: 20px;
    }

    footer h1, h2, h3, h4, h5, h6 {
      font-family: 'Karla', sans-serif;
    }

    footer p, ul, a {
      font-family: 'Helvetica', sans-serif;
    }


    footer a:hover
    {
        border-bottom: 1px solid #000;
    }

    footer .left-side .contact h4,
    footer .left-side .help h4
    {
        margin-bottom: 20px;
    }

    footer .left-side .contact a,
    footer .left-side .help a
    {
        margin-bottom: 10px;
        color: #000;
    }

    footer .left-side .help
    {
       margin-top: 40px;
    }

    .socials ul
    {
        position: absolute;
        display: flex;
        gap: 10px;
        bottom: 20px;
    }
    footer .logo
    {
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    ul{
      text-align:;
    }


    @media (min-width: 1200px){
   .contact {
            align-self: flex-start;
        }

        .help {
            align-self: center;
        }

        .socials {
            align-self: flex-end;
        }
    }

</style>

