---
import "../css/style.css";
---

<nav class="header">
  <div class="logo">
    <a href="/">CW</a>
  </div>
  <div class="menu_container">
    <ul class="menu">
      <li><a href="about">Shop</a></li>
      <li><a href="tickets">Works</a></li>
      <li><a href="program">Exhibitions</a></li>
      <li><a href="contact">About</a></li>
      <li><a href="/src/pages/contact.astro">Contact</a></li>
    </ul>
    <a href="/"><img src="/public/billeder/kurv.png" alt="kurv" /></a>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 50;
    padding: 20px;
  }

  .static {
    position: absolute;
  }
  .logo a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: 30px;
    color: black;
  }

  .menu_container {
    display: flex;
    align-items: center;
  }
  img {
    width: 60%;
  }
  .logo {
    display: flex;
    align-items: center; /* Centrer lodret */
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    position: absolute; /* Eller 'fixed' afhængigt af dit design */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }

  .burger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 20;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    z-index: 20;
  }

  .burger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 20;
  }

  ul {
    list-style-type: none;
    display: none; /* Skjul menuen som standard, vil blive vist på desktop */
    gap: 28px;
    align-items: center;
    margin: 0;
    padding-top: 10rem;
  }

  ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Karla", sans-serif;
  }

  .burger {
    display: flex; /* Vis burgermenuen som standard */
    width: 30px;
    height: 20px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #000000; /* Dit valgte farve for burgermenuen */
    transition: all 0.2s linear;
  }

  /*DESKTOP*/ 
   @media screen and (min-width: 768px) {
    .menu {
      display: flex; /* Viser menuen i en horisontal linje */
      gap: 30px; /* Afstand mellem menu-punkter */
      align-items: center;
      justify-content: flex-end; /* Placerer menuen i højre side */
      font-size: 0.8rem; /* Fra dit oprindelige design */
      padding-right: 3rem;
    }

    .burger {
      display: none; /* Skjuler burger-menuen på desktop */
    }

    ul {
      padding-top: 0;
    }
  }
</style>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.querySelector(".burger");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll("nav .menu a");

    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      menu.classList.toggle("active");
    });

    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        menu.classList.remove("active");
      });
    });
  });
</script>
