---
import Header from "./Header.astro";
---

<div class="hero" id="hero">
  <img src="src/img/forsidebillede.jpg" alt="" />
</div>

<style>
  .hero {
    position: relative;
    top: 0;
    left: 0;
    z-index: 49;
    height: 500px;
  }

  .hero img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
</style>
