---
import Header from "./Header.astro";
---

<div class="hero" id="hero">
  <img src="/billeder/forsidebillede.jpg" alt="kunst" />
  <div class="scroll-down" id="scroll-down">
    <svg width="48" height="24" viewBox="0 0 210 105" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M195.424 2.3543L104.991 86.038L14.5577 2.3543C12.942 0.856 10.773 0.0171752 8.51435 0.0171752C6.2557 0.0171752 4.08668 0.856 2.47101 2.3543C1.68867 3.08197 1.06715 3.9505 0.64285 4.90906C0.21855 5.86761 0 6.8969 0 7.93665C0 8.97639 0.21855 10.0057 0.64285 10.9642C1.06715 11.9228 1.68867 12.7913 2.47101 13.519L98.676 102.562C100.365 104.125 102.631 105 104.991 105C107.35 105 109.616 104.125 111.305 102.562L207.51 13.5362C208.298 12.808 208.925 11.9373 209.352 10.9756C209.78 10.0138 210 8.98053 210 7.93665C210 6.89277 209.78 5.85946 209.352 4.89773C208.925 3.936 208.298 3.06533 207.51 2.33712C205.895 0.838817 203.726 0 201.467 0C199.208 0 197.039 0.838817 195.424 2.33712V2.3543Z" fill="#F2F2F2"></path>
    </svg>
  </div>
</div>

<style>
  .hero {
    position: relative;
    top: 0;
    left: 0;
    z-index: 49;
    height: 500px;
  }

  .hero img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 710px;
  }

  /* .scroll-down::after {
    content: "";
    position: absolute;
    border: solid beige;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: -6px;
    top: -6px;
  } */
</style>

<script>
  // document.getElementById("scroll-down").addEventListener("click", function () {
  //   document.getElementById("next-section").scrollIntoView({ behavior: "smooth" });
  // });

  const explore = document.querySelector(".explore");
  const scrollDown = document.querySelector("#scroll-down");

  scrollDown.addEventListener("click", scrolldownnow);

  function scrolldownnow() {
    explore.scrollIntoView({ behavior: "smooth" });
  }
</script>
