---
import Header from "./Header.astro";
---

<div class="hero" id="hero">
  <img src="src/img/forsidebillede.jpg" alt="" />
</div>

<style>
  .hero {
    position:;
    top: 0;
    left: 0;
    z-index: 49;
  }
</style>
