---
import "../css/style.css";
import Buttons from "../components/Buttons.astro";

const { data } = Astro.props;
console.log(data);
---

<article>
  <a href={`shop/${data.slug}`} class="product-card">
    <img src={data.Image} alt="Product Image" />
    <div class="text-container">
      <h2>{data.Name}</h2>
      <h2>DKK {data.Price},-</h2>
    </div>
    <div class="knap">
      <Buttons variant="primary" size="shoppage">SEE PRODUCT</Buttons>
    </div>
  </a>
</article>

<style>
  /* Generel styling */
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 64px;
    width: 100%;
  }

  .product-card img {
    margin-bottom: 32px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .text-container h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-style: normal;
  }

  .knap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 16px;
  }

  .knap button {
    margin-left: 0;
  }
</style>
