---
import "../css/style.css";
const { data } = Astro.props;
console.log(data);
---

<article>
  <a href={`shop/${data.slug}`} class="product-card">
    <img src={data.Image} alt="Product Image" />
    <div class="text-container">
      <h2>{data.Name}</h2>
      <h2>DKK {data.Price},-</h2>
    </div>
  </a>
</article>

<style>
  /* Generel styling */
  .product-card {
    display: flex;
    flex-direction: column; /* Arrangerer elementerne i en kolonne */
    align-items: center; /* Centrerer elementerne i forhold til tværgående akse */
    text-decoration: none;
    padding-left: 3rem; /* Tilføjer lidt padding indeni kortet */
    padding-right: 3rem;
    padding-bottom: 4rem;
    width: 100%; /* Sikrer at kortet fylder hele bredden af grid-cellen */
  }

  .product-card img {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-container {
    display: flex;
    justify-content: space-between; /* Fordeler pladsen ligeligt mellem elementerne */
    width: 100%;
  }

  .text-container h2 {
    margin: 0; /* Fjerner margin for at sikre teksten står i en lige række */
    font-size: 1rem; /* Justerer tekststørrelsen */
    color: #333; /* Farver teksten */
  }
</style>
