---
import WorkCards from "./WorkCards.astro";

const cardImages = ["src/img/front_page_card_images/mixedmedia.webp", "src/img/front_page_card_images/lifecircles.webp", "src/img/front_page_card_images/balancebillede.webp", "src/img/front_page_card_images/aboutbillede.webp"];
const lillebillede = ["billeder/multismall.png", "billeder/circlesmall.png", "billeder/installsmall.png"];

const titles = ["Mixed media", "Life Circles", "Installations", "About"];
const subtitles = ["Collage", "2014", "Balance Me Balance Us", "Christina Winsløw"];

const data = [
  {
    cardImages: "/billeder/mixedmedia.webp",
    lillebillede: "/billeder/multismall.webp",
    title: "Mixed media",
    subtitles: "Collage",
    href: "/worksmixedmedia",
  },
  {
    cardImages: "/billeder/lifecircles.webp",
    lillebillede: "/billeder/circlesmall.webp",
    title: "Life Circles",
    subtitles: "2014",
    href: "/workslifecircles",
  },
  {
    cardImages: "/billeder/balancebillede.webp",
    lillebillede: "/billeder/installsmall.webp",
    title: "Installations",
    subtitles: "Balance Me Balance Us",
    href: "/worksinstallations",
  },
  {
    cardImages: "/billeder/aboutbillede.webp",
    title: "About",
    subtitles: "Christina Winsløv is a versatile artist who constantly explores new materials and forms of expression in her works. Her extensive portfolio includes everything from collages, mobiles, textile works, and installations to wall decorations and paintings. Her creativity knows no bounds, making her art unique and captivating.",
    button: "READ MORE",
    href: "/about",
  },
];
---

<div class="container work-cards-container">
  <header>
    <h1 class="explore">Explore My Works</h1>
  </header>
  {
    data.map((card) => {
      return <WorkCards data={card} />;
    })
  }
</div>

<style>
  .work-cards-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 40px;
    margin-top: 280px;
  }

  header h1 {
    text-transform: uppercase;
    padding: 40px;
    margin-top: 2rem;
  }
</style>
