---
import "../css/style.css";
const { text, title, describtion, imageSrc } = Astro.props;
---

<div class="component2">
  <h2>{text}</h2>
</div>

<style>
  .component2 h2 {
    font-size: 25px;
    text-align: left;
    justify-content: center;
    margin: 60px ;
  }
</style>
