---

---

<div class="container work-cards-container">
  <div class="card work-card" id="work_card">
    <img src="src/img/front_page_card_images/aboutbillede.webp" alt="" />
    <div class="container titles-container">
      <h3 class="title" id="title">Something</h3>
      <p class="subtitle" id="subtitle">Something else</p>
    </div>
  </div>
  <div class="card work-card" id="work_card">
    <img src="src/img/front_page_card_images/aboutbillede.webp" alt="" />
    <div class="container titles-container">
      <h3 class="title" id="title">Something</h3>
      <p class="subtitle" id="subtitle">Something else</p>
    </div>
  </div>
  <div class="card work-card" id="work_card">
    <img src="src/img/front_page_card_images/aboutbillede.webp" alt="" />
    <div class="container titles-container">
      <h3 class="title" id="title">Something</h3>
      <p class="subtitle" id="subtitle">Something else</p>
    </div>
  </div>
  <div class="card work-card" id="work_card">
    <img src="src/img/front_page_card_images/aboutbillede.webp" alt="" />
    <div class="container titles-container">
      <h3 class="title" id="title">Something</h3>
      <p class="subtitle" id="subtitle">Something else</p>
    </div>
  </div>
</div>

<style>
  .work-card {
    height: 300px;
  }

  .work-card img {
    height: 100%;
  }
</style>
