---
const { title } = Astro.props;
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/billeder/logofooter.png" />
  </head>
  <body>
    <header>
      <Header />
    </header>
    <slot />
  </body>
</html>
